<!-- {{all_testresult}}  -->

<body>       
    <table border="2px">
        <thead>
            <tr>
                <th>Label</th>
                <th>Value</th>
                <th>Unit</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for result in all_testresult %}
            <tr>
                <td>{{result.label}}</td>
                <td>{{result.value}}</td>
                <td>{{result.unit}}</td>
                <td> <a href="{% url 'testresult_update' result.pk %}" >Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



<!-- 
<li>
    {% for result in all_testresult %}
    <ol>{{result.label}} - {{result.value}} - {{result.unit}} {{result.pk}}</ol>
    {% endfor %}
</li> -->
<a type='button' href="{% url 'generated_report' patient.pk %}">Generate Report</a>
</body>